.board-details {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title-input {
    field-sizing: content;
    padding: .4em .7em;

    border: none;
    border-radius: .3rem;

    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    &:focus {
        cursor: text;
    }
}

.add-btn {
    position: relative;
    width: 100%;
    height: max-content;
    padding: 1em 2.5em;

    border-radius: .857em;
    text-align: start;

    &::before {
        content: '';
        position: absolute;
        left: .7em;
        top: 50%;
        transform: translateY(-50%);

        width: 16px;
        height: 16px;

        background-image: url('/src/assets/img/add.svg');
        background-size: contain;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.add-form {
    padding: var(--gap);
    background-color: var(--clr-group);
    border-radius: .857em;

    >input {
        width: 100%;
        max-width: 260px;

        padding: var(--gap);
        margin-block-end: var(--gap);
        field-sizing: content;
        overflow: hidden;

        border: none;
        border-radius: var(--gap);

        background-color: var(--clr-task);
        color: inherit;
    }

    >.form-btns {
        gap: .3rem;

        >button:last-child {
            background-color: inherit;

            >img {
                width: 1.25rem;
            }
        }
    }
}