.board-details {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow-y: hidden;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 0.5s ease;
}

.title-input {
  field-sizing: content;
  height: 2rem;
  padding-inline: 0.75rem;

  border: none;
  border-radius: 0.2rem;

  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  &:focus {
    cursor: text;
  }
}

.add-btn {
  position: relative;
  width: 100%;
  height: max-content;
  padding: 1em 2.5em;

  border-radius: 0.5em;
  text-align: start;

  &::before {
    content: '';
    position: absolute;
    left: 0.7em;
    top: 50%;
    transform: translateY(-50%);

    width: 16px;
    height: 16px;

    background-image: url('/src/assets/img/add.svg');
    background-size: contain;
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.add-form {
  background-color: var(--clr-group);
  border-radius: 0.857em;

  > input {
    width: 100%;
    max-width: 260px;
    padding-inline: .8rem;

    height: 2rem;
    margin-block-end: var(--gap);
    field-sizing: content;
    overflow: hidden;

    border: none;
    border-radius: .2rem;

    background-color: var(--clr-task);
    color: var(--clr-task-txt);
  }

  > .form-btns {
    gap: 0.3rem;

    >.btn{
      height: 2rem;
    }

    > button:last-child {
      background-color: inherit;

      > img {
        width: 1.25rem;
      }
    }
  }
}

.user-details {
  position: relative;
  grid-template-columns: auto 1fr;

  > img {
    grid-row: 1/3;
    width: 40px;
    height: 40px;

    margin-inline-end: 0.8rem;
    border-radius: 50%;
  }

  > h1 {
    grid-column: 2;
    font-size: 0.875rem;
    text-transform: capitalize;
  }

  > p {
    grid-column: 2;
    font-size: 0.75rem;
  }
}
