.title-input {
    field-sizing: content;
    padding: .5rem;

    border: none;
    border-radius: .3rem;

    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    &:focus {
        cursor: text;
    }
}

.add-btn {
    position: relative;
    width: 100%;
    height: max-content;
    padding: 1em 2.5em;

    border-radius: .857em;
    text-align: start;

    &::before {
        content: '';
        position: absolute;
        left: .7em;
        top: 50%;
        transform: translateY(-50%);

        width: 16px;
        height: 16px;

        background-image: url('/src/assets/img/add.svg');
        background-size: contain;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.add-form {
    >input {
        width: 100%;
        max-width: 260px;
        padding: .8em;
        field-sizing: content;
        overflow: hidden;

        border: none;
        border-radius: .8em;

        background-color: var(--clr-task);
        color: inherit;
    }
}