.login-signup {
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--clr-bg-login);

  height: 100vh;
  font-family: system-ui, -apple-system, sans-serif;

  img:first-child {
    place-self: end start;
  }

  img:last-child {
    place-self: end;
  }

  >.login-form {
    justify-self: center;
  }
}

.login-form {
  background-color: var(--clr-bg-home-1);
  gap: 1rem;
  justify-items: center;

  width: 25rem;
  height: fit-content;
  padding: 2.5rem;
  margin-block-start: 8vh;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
  font-size: .875rem;

  >img {
    height: 2.5rem;
    margin: auto;
  }

  >h1 {
    color: var(--clr-login-txt);
    font-size: 1rem;
  }

  >button {
    width: 100%;
    height: 2.5rem;

    border-radius: .2rem;
    background-color: var(--clr-login-btn);

    color: white;
    font-size: inherit;
    font-weight: 500;

    &:hover {
      background-color: var(--clr-login-btn-hover);
    }
  }

  >p {
    margin: 0;
    color: var(--clr-login-txt-2);
    font-weight: 600;
  }
}

.login-form-input {
  display: grid;
  gap: .3rem;
  width: 100%;

  >label {
    color: var(--clr-login-txt-1);
    font-size: .75rem;
    font-weight: bold;
  }

  >input {
    height: 2.5rem;
    padding: .5rem .375rem;

    border-radius: .2rem;
    border: 1px solid gray;
    font-size: inherit;
  }
}

a.link {
  color: LinkText;
  text-decoration: underline;
}