@import '../../setup/variables.css';

.task-details-actions {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-start;

  & button {
    color: var(--clr-task-txt-dark);
    border: 2px solid #3c3d40;
    border-radius: 4px;
    background-color: #242528;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    white-space: nowrap;
    &:hover {
      cursor: pointer;
      background-color: #2b2c2f;
    }

    & img {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }

    & svg {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      color: var(--clr-task-txt-dark);
      stroke: currentColor;
    }
  }
}

