@import '../../setup/variables.css';

.task-details-comments {
  grid-column: 2;
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column;
  background-color: #18191a;
  border-left: 1px solid #3c3d40;
  margin-bottom: -2rem;
  border-top: 1px solid #3c3d40;
  overflow-y: auto;
  max-height: calc(100vh - 10vh);
  min-height: 0;
  padding: 0 2rem 0.5rem 1.5rem;
}

.comments-section form button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--clr-task-txt-dark);
  border: 2px solid #3c3d40;
  border-radius: 4px;
  background-color: #242528;
  padding: 0.5rem 1rem;

  &:hover {
    cursor: pointer;
    background-color: #2b2c2f;
  }
}

.comments-section form button[type='submit'] {
  background-color: #4a93be;
  color: black;
  border-color: #5ba4cf;
  margin-right: 0.5rem;

  &:hover {
    background-color: #5ba4cf;
    border-color: #4a93be;
  }
}

.task-comment-button {
  border: 2px solid #3c3d40;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-bottom: 2rem;
  white-space: nowrap;
  border-radius: 8px;
  background-color: #242528;
  margin-left:0;
  &:hover {
    cursor: pointer;
    background-color: #2b2c2f;
  }
}
.comments-list{
  display: flex;
  flex-direction: column;
  gap:1rem;
}
.comment-item {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 0.5rem;
  border-radius: 4px;
  margin-bottom: 0.5rem;

  & span {
    font-size: 14px;
    color: var(--clr-task-txt-dark);
    
  }

  & .comment-date {
    font-size: 12px;
    color: #999;
  }
}

.comment-header {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}

.comment-user-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.comment-user-name {
  font-weight: 700 !important;
  font-size: 16px !important;
  color: var(--clr-txt-light) !important;
}

.comment-text p{
  background-color: #2b2c2f;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  margin-left: 2rem;
  border-radius: 4px;
}
