@import '../../setup/variables.css';

.description {
  margin: 0;
  & h5{
    color: var(--clr-task-txt);
  }
}

.description-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.description-icon {
  width: 16px;
  height: 16px;
  margin-bottom: -0.5rem;
}

.task-description-button {
  border: 2px solid #3c3d40;
  box-sizing: border-box;
  padding: 0.3rem 1rem 1rem 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
  &:hover {
    cursor: pointer;
    background-color: #2b2c2f;
  }
}

.description form button {
  margin-top: 0.5rem;
  color: var(--clr-task-txt-dark);
  border: 2px solid #3c3d40;
  border-radius: 4px;
  background-color: #242528;
  padding: 0.5rem 1rem;

  &:hover {
    cursor: pointer;
    background-color: #2b2c2f;
  }
}

.description form button[type='submit'] {
  background-color: #5ba4cf;
  color: black;
  border-color: #5ba4cf;
  margin-right: 0.5rem;
  &:hover {
    background-color: #4a93be;
    border-color: #4a93be;
  }
}

/* quill editor text color */
.ql-editor {
  color: var(--clr-task-txt-dark);
}

.ql-editor.ql-blank::before {
  color: #999;
}

.ql-container {
  color: var(--clr-task-txt-dark);
}

.ql-snow .ql-editor {
  color: var(--clr-task-txt-dark);
}

