@import '../../setup/variables.css';

.task-details-comments {
  grid-column: 2;
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column;
  background-color: #18191a;
  border-left: 1px solid #3c3d40;
  margin-bottom: -2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-top: 0;
  border-top: 1px solid #3c3d40;
  overflow-y: auto;
  max-height: calc(100vh - 10vh);
  min-height: 0;
}

.comments-section form button {
  margin-top: 0.5rem;
  color: var(--clr-task-txt-dark);
  border: 2px solid #3c3d40;
  border-radius: 4px;
  background-color: #242528;
  padding: 0.5rem 1rem;

  &:hover {
    cursor: pointer;
    background-color: #2b2c2f;
  }
}

.comments-section form button[type='submit'] {
  background-color: #5ba4cf;
  color: black;
  border-color: #5ba4cf;

  &:hover {
    background-color: #4a93be;
    border-color: #4a93be;
  }
}

.task-comment-button {
  border: 2px solid #3c3d40;
  box-sizing: border-box;
  padding: 1rem;
  margin-bottom: 2rem;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
    background-color: #2b2c2f;
  }
}

.comment-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #2b2c2f;
  margin-bottom: 10px;

  & span {
    font-size: 14px;
    color: var(--clr-task-txt-dark);
  }

  & .comment-date {
    font-size: 12px;
    color: #999;
  }
}

