@import '../../setup/variables.css';

.task-details-cover {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: -2rem;
  margin-bottom: -1.5rem; 
  padding: 0 2rem;
}

.task-details-cover-actions {
  margin-right: 2rem;
}

.group-transfer-btn {
  display: flex;
  flex-direction: row;
  color: #e2e3e4;
  background-color: #4b4d51;
  padding: 0.5rem 0 0.2rem 0.5rem;
  box-sizing: border-box;
  cursor: pointer;
  max-height: 32px;
  margin-left: 2rem;
  margin-top: 1rem;
  border-radius: 4px;
  &:hover {
    background-color: #5b5d61;
  }

  & img {
    margin-top: -0.2rem;
  }
}

.btn-image {
  margin-top: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #242528;
  &:hover {
    background-color: #2b2c2f;
  }
}

/* Cover popup styles */

/* Default: hide author overlay */
.background-color.background-photo {
  position: relative;
  width: 4rem;
  height: 2rem;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.background-color.background-photo .photo-bg-msg {
  opacity: 0;
  transition: opacity 0.15s;
  position: absolute;     
  bottom: 0.5rem;
  left: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  margin-bottom: -0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;    
}

/* Show on hover */
.background-color.background-photo:hover .photo-bg-msg {
  opacity: 1;
}

/* Style the author text itself */
.background-color.background-photo .photo-bg-msg a {
  font-size: 9px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  &:hover {
    text-decoration: underline;
  }
}

.cover-photos-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.cover-colors-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 per row */
  gap: 8px;
  margin-bottom: 12px;
}

.cover-colors-grid .background-color {
  width: 48px;      /* tweak as you like */
  height: 32px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-remove-cover {
  width: 100%;
  background-color: #242528;
  border: 2px solid #3c3d40;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--clr-task-txt-dark);
  &:hover {
    background-color: #2b2c2f;
  }
}

.btn-upload-cover {
  width: 100%;
  background-color: #242528;
  border: 2px solid #3c3d40;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--clr-task-txt-dark);
  &:hover {
    background-color: #2b2c2f;
  }
}

