.add-board-card-container {
  position: relative;

  .add-board-card {
    display: grid;
    place-items: center;

    position: relative;

    border-radius: 12px;
    box-shadow: 0 2px 0 var(--clr-board-shadow);
    height: 100%;

    font-size: 0.9rem;
    background-color: var(--clr-ah-grey-2);
    cursor: pointer;

    &:hover {
      background-color: var(--clr-ah-grey-1);
    }
  }
}

.add-board {
  display: grid;
  place-items: center;

  position: absolute;
  gap: 0.5rem;

  width: 300px;
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--add-board-shadow);

  &.from-list {
    top: -50px;
    left: 245px;
  }

  &.from-header {
    top: -190px;
    left: 162%;
  }

  padding-inline: 1rem;
  padding-block: 2rem;

  background-color: var(--clr-ah-grey-2);

  form {
    display: grid;
    gap: 0.5em;

    width: 100%;

    input {
      padding-inline: 0.5em;
      padding-block: 0.7em;
      border: 1px solid var(--clr-input-add-board);
      border-radius: 4px;

      outline: none;

      background-color: var(--clr-bg-dark);
      color: var(--clr-txt-light);

      &:focus {
        border-color: var(--clr-input-add-board);
      }

      &:hover {
        border-color: var(--clr-input-add-board-hover);
      }
    }

    button {
      padding: 0.6em 1em;
      border-radius: 6px;
      border: none;
      cursor: pointer;
      background-color: var(--clr-create-btn);
      color: var(--clr-txt-dark);

      &:hover:not(:disabled) {
        background-color: var(--clr-create-btn-hover);
      }

      &:disabled {
        background-color: var(--clr-ah-grey-1);
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }

  .close-add-board {
    position: absolute;

    cursor: pointer;
    top: 5px;
    right: 5px;

    &:hover {
      background-color: var(--clr-ah-grey-1);
      box-shadow: 0 0 0 4px var(--clr-ah-grey-1);
    }
  }

  h3 {
    justify-self: start;
    font-size: 0.8rem;
  }
}

.mini-board-preview {
  height: 130px;
  width: 80%;

  background-color: var(--clr-default-board);

  img {
    width: 100%;
  }
}
