.ai-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  .toggle-btn {
    padding: 10px 13px;
    border-radius: 50%;

    text-transform: uppercase;
    background-color: var(--clr-create-btn);
    cursor: pointer;

    &:hover {
      background-color: var(--clr-create-btn-hover);
    }
  }

  .chat-window {
    width: 300px;
    max-height: 400px;
    background-color: var(--clr-bg-light);
    border-radius: 8px;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;

    .messages {
      flex: 1;

      padding-inline: 0.7rem;
      padding-block: 0.5rem;

      overflow-y: auto;

      .message {
        margin-bottom: 0.3rem;

        &.user {
          text-align: right;
          color: var(--clr-txt-dark);
        }

        &.ai {
          text-align: left;
          font-style: italic;
        }
      }
    }

    .input-container {
      display: flex;
      padding: 0.3rem;
      gap: 0.5rem;

      textarea {
        flex: 1;
        padding: 0.3rem;
        border-radius: 5px;
        border: 1px solid var(--clr-ah-grey--1);
      }
    }
  }
}
