.ai-chat {
  position: fixed;
  bottom: 130px;
  right: 150px;
  z-index: 1000;

  .chat-window {
    display: grid;
    grid-template-rows: 0.8fr 0.2fr 3fr 0.5fr;

    width: 400px;
    max-height: 450px;
    height: 430px;
    background: var(--clr-chat-bg);
    border-radius: 10px;

    .messages {
      padding-inline: 0.5rem;

      overflow-y: auto;
      font-size: 0.9rem;

      .message {
        margin-bottom: 0.5rem;
        padding-inline: 1rem;
        padding-block: 0.7rem;
        border-radius: 100vw;
        max-width: 300px;

        &.user {
          justify-self: end;
          background: var(--clr-chat);
          color: var(--clr-txt-light);
        }

        &.ai {
          justify-self: start;
          background-color: var(--clr-ai-msg);
          color: var(--clr-txt-dark);
        }
      }
    }

    .chat-header {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      column-gap: 1rem;

      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      padding-inline: 1rem;
      padding-block: 0.5rem;
      background: var(--clr-chat);

      .ajent-photo {
        grid-row: span 2;
        width: 60px;
        height: 60px;
        background-color: rgb(42, 69, 165);
        border-radius: 50%;
      }

      p {
        margin: 0;
      }

      > :nth-child(2) {
        align-self: end;
        font-size: 0.9rem;
      }

      > :nth-child(3) {
        align-self: start;
        letter-spacing: 0.8px;
        font-size: 1.3rem;
      }
    }

    .input-container {
      display: grid;
      position: relative;

      grid-row: 4;
      padding: 1rem;

      textarea {
        height: auto;
        border-radius: 5px;
        margin-right: 1rem;
        border: none;
        outline: none;
        background: var(--clr-chat-bg);
      }

      .toggle-btn {
        display: grid;
        place-items: center;

        position: absolute;
        z-index: 1005;
        right: -30px;
        width: 55px;
        height: 55px;
        top: 0px;
        border-radius: 100vw;

        text-transform: uppercase;
        background: var(--clr-chat);
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.364);
        cursor: pointer;
        transition: top 0.2s ease;

        img {
          position: relative;
          left: 3px;
          width: 30px;
        }

        &:hover {
          top: -3px;
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        height: 2px;
        background-color: var(--clr-ai-msg);
      }
    }

    .wavy svg {
      transform: rotate(180deg);
    }
  }
}

.ai-agent {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 170px;
  z-index: 1000;

  cursor: pointer;
  pointer-events: auto;
}
