.app-footer {
  grid-column: 1/-1;

  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;

  position: absolute;
  bottom: 0;

  width: 100%;
  padding-inline: 5rem;
  padding-block: 1.5rem;

  background-color: var(--clr-footer-bg);
  color: var(--clr-home-txt-light);

  h2 {
    font-size: 0.8rem;
  }

  .footer-main {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 1rem;

    h2 {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .footer-social {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: 1rem;

    .icon-container {
      padding: 0.3rem;
      border: 1px solid var(--clr-home-txt-light);
      border-radius: 50%;
      img {
        width: 15px;

        &:hover {
          scale: 0.9;
          cursor: pointer;
        }
      }
    }
  }
}
