.app-header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;

  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-bottom: 1px solid var(--clr-ah-grey);

  .logo {
    width: 150px;
  }

  form {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;

    position: relative;

    input {
      border: 1px solid var(--clr-ah-grey--1);
      border-radius: 5px;
      padding-inline: 1rem;
      height: 30px;
      width: 30vw;
      padding-inline-start: 2rem;

      background-color: var(--clr-bg-dark);
      color: var(--clr-txt-light);
    }
  }

  form::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);

    width: 16px;
    height: 16px;

    background-image: url('/src/assets/img/serach.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .user {
    border-radius: 50%;
    width: 30px;
    height: 30px;

    /* temporary color */
    background-color: rgb(226, 141, 43);
  }
}
