.app-header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  justify-items: center;

  position: relative;
  z-index: 303;

  width: 100%;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-bottom: 1px solid var(--clr-ah-grey);

  background-color: var(--clr-bg-dark);

  .logo {
    width: 150px;
  }

  .logo-small {
    width: 19px;
  }

  form {
    display: grid;
    grid-auto-flow: column;
    gap: 0.5rem;

    position: relative;

    input {
      border: 1px solid var(--clr-ah-grey--1);
      border-radius: 5px;
      padding-inline: 1rem;
      height: 33px;
      width: 800px;
      padding-inline-start: 2rem;

      font-size: 0.9rem;
      background-color: var(--clr-bg-dark);
      color: var(--clr-txt-light);

      &::placeholder {
        color: var(--clr-ah-grey--1);
      }
    }
  }

  form::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);

    width: 16px;
    height: 16px;

    background-image: url('/src/assets/img/serach.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }

  .user > img {
    border-radius: 50%;
    width: 24px;
    height: 24px;

    cursor: pointer;
  }

  .account {
    position: absolute;
    right: 5px;
    top: 52px;

    padding-block: 1rem 0.2rem;
    width: 19rem;

    background-color: var(--clr-group-modal);
    border-radius: 0.5rem;
    box-shadow: var(--modal-box-shadow);

    > * {
      padding: 0.5rem 1rem;
    }

    > h2 {
      font-size: 0.6875rem;
      font-weight: normal;
      text-transform: uppercase;
      color: var(--clr-modal-txt);
    }

    > button {
      background-color: var(--clr-group-modal);
      color: inherit;
      text-align: start;

      &:hover {
        background-color: var(--clr-modal-btn-hover);
      }
    }

    .user-details {
      &::after {
        content: '';
        width: 100%;
        height: 1px;

        position: absolute;
        bottom: 5px;
        background-color: var(--clr-ah-grey);
      }
    }
  }

  .search-and-create {
    display: flex;
    gap: 0.5rem;

    .board-filter {
      position: relative;

      .filter-results {
        display: grid;

        position: absolute;
        top: 115%;
        width: 100%;

        border-radius: 5px;
        box-shadow: 0 4px 10px var(--add-board-shadow);
        padding-block: 1rem;

        background-color: var(--clr-ah-grey-2);

        > h2 {
          margin-bottom: 1rem;
          padding-inline: 1rem;
          font-size: 0.9rem;
          text-transform: uppercase;
        }

        .filter-result {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          padding-block: 0.5rem;
          padding-inline: 1rem;

          cursor: pointer;

          .filter-board-icon {
            width: 22px;
            height: 22px;
            border-radius: 2px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }

          p {
            margin-bottom: 0;
          }

          &:hover {
            background-color: var(--clr-ah-grey-1);
          }
        }
      }
    }
  }
}
