.background-container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);

  width: 100%;

  /* .gradiant-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.3rem;
  } */

  .color-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0.3rem;
  }

  .background-color {
    position: relative;

    height: 30px;
    border-radius: 5px;

    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &.active-background {
      display: grid;
      place-items: center;

      &::after {
        content: '✓';
        color: var(--clr-txt-dark);
      }
    }
  }

  .open-more-bg-colors {
    display: grid;
    justify-items: center;
    background-color: var(--clr-ah-grey-1);
  }

  .open-more-colors {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 0.3rem;

    position: absolute;
    right: 20%;
    top: 0;
    z-index: 1;

    border-radius: 10px;
    box-shadow: 0 4px 10px var(--add-board-shadow);

    background-color: var(--clr-ah-grey-2);

    .solid-colors {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.3rem;

      padding: 1rem;
    }

    .gradiant-colors {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.3rem;

      padding: 1rem;
    }

    .background-color {
      width: 90px;
      height: 55px;
    }
  }
}
