.board-settings {
  display: grid;

  position: absolute;
  right: 15px;
  top: 0px;

  width: 355px;
  max-height: 590px;
  padding: 1rem;
  border-radius: 0.5rem;

  background-color: var(--clr-group-modal);

  button {
    width: 90%;
    text-align: start;

    background-color: inherit;
    color: inherit;
  }

  img {
    width: 20px;

    &:hover {
      background-color: var(--clr-ah-grey-1);
      box-shadow: 0 0 0 10px var(--clr-ah-grey-1);
      border-radius: 3px;
    }
  }

  .board-settings-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin-bottom: 1rem;

    h2 {
      font-size: 1rem;
    }

    img {
      margin-right: 1rem;
      cursor: pointer;
    }

    > :nth-child(1) {
      grid-column: 2;
      justify-self: center;
    }

    > :nth-child(2) {
      justify-self: end;
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    gap: 1rem;

    height: 2.5rem;
    padding-inline: 1rem;

    cursor: pointer;

    .board-settings-bg-icon {
      width: 20px;
      height: 20px;
      border-radius: 3px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:hover {
      background-color: var(--clr-ah-grey-1);
      border-radius: 10px;
    }
  }

  .settings-close-board {
    position: relative;

    .are-you-sure-close-board {
      display: grid;
      justify-items: center;
      gap: 1rem;

      position: absolute;
      bottom: 105%;

      width: 100%;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.345);

      background-color: var(--clr-group-modal);

      header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;

        width: 100%;

        > :nth-child(1) {
          grid-column: 2;
        }
        > :nth-child(2) {
          justify-self: end;
        }
      }

      button {
        padding: 0.5rem;
        border-radius: 5px;

        text-align: center;
        background-color: var(--clr-close-board);
        color: var(--clr-txt-dark);

        &:hover {
          background-color: var(--clr-close-board-hover);
        }
      }
    }
  }

  .board-settings-bg-options {
    .photos-background {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.3rem;

      max-height: 560px;
      overflow-y: auto;

      .background-photo {
        height: 100px;
        margin-bottom: 0.3rem;
        border-radius: 5px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        cursor: pointer;

        &:hover {
          opacity: 0.7;
        }
      }
    }

    .colors-background {
      max-height: 560px;
      overflow-y: auto;

      .solid-colors {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-self: center;
        gap: 0.5rem;

        .background-color {
          width: 55px;
          height: 55px;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }
        }
      }

      .gradiant-colors {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-self: center;
        gap: 0.7rem;
        margin-bottom: 2rem;

        .background-color {
          width: 150px;
          height: 100px;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }

    .board-settings-bg-all {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .card-preview {
        display: grid;
        justify-items: center;

        cursor: pointer;

        img {
          width: 150px;
          height: 100px;
          border-radius: 10px;

          &:hover {
            box-shadow: none;
            border-radius: 10px;
            opacity: 0.7;
          }
        }

        h3 {
          font-size: 0.9rem;
        }
      }
    }
  }
}
