.board-preview {
  position: relative;

  border-radius: 12px;
  box-shadow: 0 2px 0 var(--clr-board-shadow);

  background-color: rgb(82, 95, 144);
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  .star-board {
    position: absolute;
    right: 5px;
    top: 5px;

    width: 20px;
    border-radius: 3px;
    box-shadow: 0 0 0 0.2rem var(--clr-star-bg);

    background-color: var(--clr-star-bg);
  }
}

.board-preview::after {
  /* content: 'Board Name'; */
  content: var(--board-name, '');
  display: grid;
  align-items: center;

  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 35%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-inline: 1rem;

  font-size: 0.9rem;
  background: var(--clr-bg-dark);
  pointer-events: none;
}
