.board-header {
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(10px);

    padding: .75rem 1rem;

    >.header-btns {
        >button {
            background-color: inherit;
        }
    }

    >input{
        font-weight: bold;
        font-size: 1rem;
    }

    button,
    input {
        color: white;

        &:hover {
            background-color: rgba(255, 255, 255, .3);
        }
    }
}