.board-header {
  position: fixed;
  z-index: 205;

  width: 100%;
  height: 3.5rem;

  background-color: rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(6px);

  > input {
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }

  input:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .header-btns {
    > button {
      background-color: inherit;
      padding: 0;

      display: grid;
      place-content: center;

      height: 2rem;
      width: 2rem;
      border-radius: 0.3rem;

      img {
        width: 1rem;
        height: 1rem;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
      }
    }

    .header-more-icon {
      img {
        height: 1.5rem;
        width: 1.5rem;
      }
    }

    .share-btn {
      position: relative;
      display: grid;
      place-content: center end;
      background-color: rgb(220, 223, 228);

      padding-inline: 0.8rem;
      margin-inline: 0.3rem;
      width: 5.4rem;
      height: 2rem;
      border-radius: 0.3rem;

      &::before {
        content: '';
        position: absolute;
        left: 1em;
        top: 50%;
        transform: translateY(-50%);

        width: 1rem;
        height: 1rem;

        background-image: url('/src/assets/img/share.png');
        background-size: contain;
      }

      &:hover {
        background-color: white;
      }
    }

    .members {
      grid-auto-flow: column;
      flex-direction: row-reverse;
      margin-inline: 0.3rem;

      img {
        position: relative;
        width: 28px;
        border-radius: 50%;
      }
    }
  }
}
