.board-header {
  position: relative;
  z-index: 205;

  width: 100%;
  height: 3.5rem;

  background-color: rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(6px);

  >input {
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }

  .members {
    img {
      width: 28px;
      border-radius: 50%;
    }
  }

  .header-btns {
    gap: .2rem;

    .header-more-icon {
      background: none;

      &:hover {
        border-radius: 5px;
        color: var(--clr-task-txt);
        background-color: inherit;

        &:hover {
          background-color: rgba(227, 228, 242, 0.12);
        }
      }

      img {
        width: 30px;
      }
    }

    .header-star {
      display: grid;
      place-content: center;

      border-radius: 0.3rem;
      background-color: inherit;

      >img {
        width: 1rem;
        height: 1rem;
      }
    }

    .share-btn {
      position: relative;
      display: grid;
      place-content: center end;
      background-color: rgb(220, 223, 228);

      padding-inline: 0.8rem;
      width: 5.4rem;
      height: 2rem;
      border-radius: 0.3rem;

      &::before {
        content: '';
        position: absolute;
        left: 1em;
        top: 50%;
        transform: translateY(-50%);

        width: 1rem;
        height: 1rem;

        background-image: url('/src/assets/img/share.png');
        background-size: contain;
      }

      &:hover {
        background-color: white;
      }
    }

    .members {
      img {
        width: 28px;
        border-radius: 50%;
      }
    }

    button:hover,
    input:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
}