.board-header {
  position: fixed;
  right: 0;
  z-index: 201;

  width: 100vw;
  margin-top: 47px;

  background-color: rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(6px);

  > input {
    color: white;
    font-weight: bold;
    font-size: 1rem;
  }

  .header-btns {
    gap: var(--gap);

    .header-more-icon {
      background: none;

      &:hover {
        border-radius: 5px;
        color: var(--clr-task-txt);
        background-color: inherit;

        &:hover {
          background-color: rgba(227, 228, 242, 0.12);
        }
      }

      img {
        width: 30px;
      }
    }

    button:first-child {
      display: grid;
      place-content: center;

      width: 2rem;
      height: 2rem;

      border-radius: 0.3rem;
      background-color: inherit;
    }

    button:nth-child(2) {
      position: relative;
      display: grid;
      place-content: center end;
      background-color: rgb(220, 223, 228);

      padding-inline: 0.8rem;
      width: 5rem;
      border-radius: 0.3rem;

      &::before {
        content: '';
        position: absolute;
        left: 0.5em;
        top: 50%;
        transform: translateY(-50%);

        width: 1rem;
        height: 1rem;

        background-image: url('/src/assets/img/share.png');
        background-size: contain;
      }

      &:hover {
        background-color: white;
      }
    }

    button:hover,
    input:hover {
      background-color: rgba(255, 255, 255, 0.3);
    }

    .header-star {
      img {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
