.board-list {
  grid-column: 2;
  justify-self: center;

  width: 915px;
  padding-top: 2rem;

  h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .star-boards-header::before {
    content: '';
    display: inline-block;

    position: relative;
    top: -2px;

    width: 20px;
    height: 20px;
    margin-right: 0.5rem;

    background-image: url('/src/assets/img/star.svg');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
  }

  .star-boards,
  .not-star-boards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 107px;
    gap: 0.8rem;

    margin-bottom: 3rem;
  }
}
