.board-settings {
  display: grid;

  position: absolute;
  right: 10px;
  top: 1px;

  width: 355px;
  padding: 0.5rem;
  border-radius: 0.5rem;

  background-color: var(--clr-group-modal);

  button {
    width: 90%;
    text-align: start;

    background-color: inherit;
    color: inherit;
    font-size: 0.9rem;
    text-transform: capitalize;
  }

  .board-settings-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin-block: 0.5rem;

    h2 {
      font-size: 0.9rem;
    }

    img {
      margin-right: 1rem;
      cursor: pointer;
    }

    > :nth-child(1) {
      grid-column: 2;
      justify-self: center;
    }

    > :nth-child(2) {
      justify-self: end;
    }
  }

  .menu-item {
    display: flex;
    align-items: center;
    gap: 1rem;

    height: 2rem;
    padding-inline: 1rem;

    cursor: pointer;

    > img {
      width: 16px;

      &:hover {
        background-color: var(--clr-ah-grey-1);
        box-shadow: 0 0 0 7px var(--clr-ah-grey-1);
        border-radius: 3px;
      }
    }

    .board-settings-bg-icon {
      width: 20px;
      height: 20px;
      border-radius: 3px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    &:hover {
      background-color: var(--clr-ah-grey-1);
      border-radius: 10px;
    }

    .setting-members {
      display: flex;
      flex-direction: row-reverse;

      .member-photo {
        img {
          width: 2rem;
          border-radius: 50%;
        }
      }
    }
  }

  .settings-close-board {
    position: relative;

    .are-you-sure-close-board {
      display: grid;
      justify-items: center;
      gap: 1rem;

      position: absolute;
      bottom: 105%;

      width: 100%;
      padding: 1rem;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.345);

      background-color: var(--clr-group-modal);

      header {
        display: grid;
        grid-template-columns: 1fr auto 1fr;

        width: 100%;

        > :nth-child(1) {
          grid-column: 2;
        }

        > :nth-child(2) {
          justify-self: end;
        }
      }

      button {
        padding: 0.5rem;
        border-radius: 5px;

        text-align: center;
        background-color: var(--clr-close-board);
        color: var(--clr-txt-dark);

        &:hover {
          background-color: var(--clr-close-board-hover);
        }
      }
    }
  }

  .board-settings-bg-options {
    .photos-background {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 0.6rem;

      max-height: 80vh;
      overflow-y: auto;

      .background-photo {
        display: grid;
        align-items: end;

        height: 100px;
        width: 100%;
        border-radius: 5px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        cursor: pointer;

        &:hover {
          opacity: 0.7;

          .photo-bg-msg {
            opacity: 0.6;
            font-size: 0.8rem;

            >a {
              font-size: 0.8rem;
            }
          }
        }

        .photo-bg-msg {
          background-color: black;
          opacity: 0;
          font-size: 0.9rem;
          padding-left: 0.5rem;
          padding-block: 0.2rem;
          width: 100%;
        }
      }
    }

    .colors-background {
      max-height: 80vh;
      overflow-y: auto;

      .solid-colors {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-self: center;
        gap: 0.6rem;

        .background-color {
          width: 55px;
          height: 55px;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }
        }
      }

      .gradient-colors {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-self: center;
        gap: 0.6rem;
        margin-bottom: 2rem;

        .background-color {
          width: 150px;
          height: 100px;
          border-radius: 5px;
          cursor: pointer;

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }

    .board-settings-bg-all {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .card-preview {
        display: grid;
        justify-items: center;

        cursor: pointer;

        img {
          width: 150px;
          height: 100px;
          border-radius: 10px;

          &:hover {
            box-shadow: none;
            border-radius: 10px;
            opacity: 0.7;
          }
        }

        h3 {
          font-size: 0.9rem;
        }
      }
    }
  }

  .archived-tasks {
    display: grid;

    form {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: 0.5rem;

      > input {
        border: 1px solid var(--clr-task-txt);
        border-radius: 5px;
        padding: 0.6rem;

        background-color: var(--clr-task);
      }

      > button {
        display: grid;
        place-items: center;
        border-radius: 5px;
        height: 100%;
        background-color: var(--clr-ah-grey-1);

        &:hover {
          background-color: var(--clr-ah-grey);
        }
      }
    }

    .archived-actions {
      display: flex;
      align-items: center;
      width: max-content;
      margin-block: 0.5rem;

      > button:hover {
        text-decoration: underline;
        color: var(--clr-create-btn);
      }

      > p {
        margin: 0;
      }
    }
  }

  .archived-lists {
    display: grid;

    .settings-group-preview {
      position: relative;
      display: grid;
      grid-template-columns: 50% auto auto;
      align-items: center;
      padding: 0.75rem;

      > h2 {
        font-size: 1rem;
        padding: 0.5rem;
      }

      > button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;
        border-radius: 5px;
        background-color: var(--clr-ah-grey-1);
        height: 100%;

        &:hover {
          background-color: var(--clr-ah-grey);
        }

        > img {
          width: 20px;
          pointer-events: none;
        }
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 1px;
        background-color: var(--clr-txt-light);
        opacity: 0.1;
      }
    }
  }

  .no-archived-items {
    display: grid;
    place-items: center;
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    background-color: var(--clr-ah-grey-1);
    font-size: 0.9rem;
  }
}
