.filter-tasks {
    position: absolute;
    top: 3.5rem;
    right: .3rem;
    z-index: 2;

    width: 384px;
    max-height: 80vh;
    padding: .75rem;
    border-radius: .5rem;

    background-color: var(--clr-group-modal);
    font-size: .875rem;
    color: var(--clr-group-txt);

    overflow: auto;
}

.filter-header {
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    position: sticky;

    >h1 {
        grid-column: 2;
        font-size: inherit;
    }

    >button {
        background-color: inherit;
        justify-self: end;

        width: 2rem;
        height: 2rem;

        >img {
            width: 1rem;
            height: 1rem;
        }
    }
}

.filter-lists {
    gap: 1rem;

    >h2 {
        font-size: .75rem;
        margin-block: .7rem .4rem;
    }

    >input {
        padding: .5rem .75rem;
        width: 100%;

        background-color: var(--clr-task);
        color: inherit;

        border: 1px solid var(--clr-group-txt);
        border-radius: .2rem;

        &:focus {
            border: none;
        }
    }

    li {
        display: flex;
        align-items: center;
        gap: 1rem;

        padding: .5rem;

        input {
            appearance: none;
            height: 1rem;
            width: 1rem;
            margin: 0;

            position: relative;
            border: 1px solid var(--clr-group-txt);
            border-radius: .1rem;

            &:focus {
                outline: 1px solid white;
            }

            &:checked {
                background-color: var(--clr-create-btn);
                border: none;
            }

            &:checked::before {
                content: "\2713";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1rem;
            }
        }
    }

    .labels-filter {
        >li {
            padding: .3rem;
        }

        label {
            display: grid;
            align-items: center;

            width: 100%;
            height: 2rem;
            padding-inline: .75rem;

            border-radius: .3rem;

            font-size: 0.875rem;
            font-weight: bold;
        }
    }
}