.group-list {
  gap: 0.8rem;
  margin-top: 105px;

  height: calc(100vh - 105px - 17px);

  color: var(--clr-group-txt);
  font-size: 0.876rem;

  > button {
    width: 270px;
    background-color: rgba(255, 255, 255, 0.24);
    color: white;
  }

  > .add-form {
    width: 270px;
    height: max-content;
  }
}
