.group-list {
    gap: .8rem;
    padding: .8rem;

    color: var(--clr-group-txt);
    font-size: .876rem;
    font-family: 'AtlassianSans';

    >* {
        flex-basis: 270px;
    }

    >li {
        >button {
            background-color: rgba(255, 255, 255, 0.24);
            color: white;
        }
    }
}