.group-actions {
    position: absolute;
    left: 90%;
    top: 30px;
    z-index: 1;

    width: 300px;
    background-color: var(--clr-group-modal);

    button {
        background-color: inherit;
        color: inherit;
    }
}

.actions-header {
    grid-template-columns: 36px 1fr 36px;
    place-items: center;
    padding: .5em .25em;
    >h2{
        grid-column: 2;
    }
}