.group-list {
  gap: 0.8rem;

  color: var(--clr-group-txt);
  font-size: 0.876rem;

  overflow: hidden;

  > button {
    width: 270px;
    background-color: rgba(255, 255, 255, 0.24);
    color: white;
    white-space: nowrap;
  }

  > .add-form {
    width: 270px;
    height: max-content;
  }
}
