.group-list {
  gap: 0.8rem;
  margin-top: 55px;

  color: var(--clr-group-txt);
  font-size: 0.876rem;

  >button {
    flex: 0 0 272px;
    background-color: rgba(255, 255, 255, 0.24);
    color: white;
    white-space: nowrap;
  }

  >.add-form {
    flex: 0 0 272px;
    height: max-content;
    padding: .5rem;
  }
}

.group-list [data-swappable="true"],
.group-list [role="button"] {
  touch-action: none;
}