.group-list {
  gap: 0.8rem;
  padding: 0.8rem;
  margin-top: 60px;

  color: var(--clr-group-txt);
  font-size: 0.876rem;

  > * {
    width: 270px;
  }

  > li {
    > button {
      background-color: rgba(255, 255, 255, 0.24);
      color: white;
    }
  }
}
