.group-list {
    gap: .8rem;
    padding: .8rem;

    color: var(--clr-group-txt);
    font-size: .876rem;
    font-family: 'AtlassianSans';

    >* {
        flex-basis: 270px;
    }

    button {
        border-radius: .857em;
        width: 100%;
        height: max-content;
    }
}