.group-actions {
  position: absolute;
  left: 90%;
  top: 30px;
  z-index: 2;

  width: 300px;
  padding-block: 0.2rem 0.7rem;

  border-radius: 0.5rem;
  background-color: var(--clr-group-modal);

  button {
    background-color: inherit;
    color: inherit;

    &:hover {
      background-color: rgba(206, 206, 217, 0.07);
    }
  }

  > button {
    padding: 0.375rem 0.75rem;
    text-align: start;
    font-size: 0.875rem;
  }
}

.actions-header {
  grid-template-columns: 36px 1fr 36px;
  place-items: center;

  height: 2.5rem;
  padding: 0.5rem 0.25rem;

  > h2 {
    grid-column: 2;
    font-size: 0.875rem;
  }

  > button {
    display: flex;
    justify-content: center;

    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
  }

  img {
    width: 1rem;
  }
}
