.group-list {
    gap: .8rem;
    padding: .8rem;

    color: var(--clr-group-txt);
    font-size: .876rem;

    >button {
        width: 270px;
        background-color: rgba(255, 255, 255, 0.24);
        color: white;
    }

    >.add-form {
        width: 270px;
        height: max-content;
    }
}