.group-preview {
    padding: .5em;
    background-color: var(--clr-group);
    border-radius: .857em;

    >input {
        color: var(--clr-group-txt);
        font-size: .876rem;
        font-weight: 700;
    }
}