.group-list {
  gap: 0.8rem;
  margin-top: 55px;

  color: var(--clr-group-txt);
  font-size: 0.876rem;

  > button {
    flex: 0 0 270px;
    background-color: rgba(255, 255, 255, 0.24);
    color: white;
    white-space: nowrap;
  }

  > .add-form {
    flex: 0 0 270px;
    height: max-content;
  }
}
