.group-list {
    gap: .8rem;
    padding: .8rem;

    color: var(--clr-group-txt);
    font-size: .876rem;

    >* {
        width: 270px;
    }

    >li {
        >button {
            background-color: rgba(255, 255, 255, 0.24);
            color: white;
        }
    }
}