.home-page-header {
  grid-column: 1/-1;

  display: grid;
  grid-template-columns: minmax(150px, 1fr) minmax(auto, 1000px) minmax(
      150px,
      1fr
    );

  transition: box-shadow 0.3s ease;

  .header-content {
    grid-column: 2;

    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;

    img {
      width: 150px;
    }
  }

  nav {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;

    height: 100%;

    > * {
      display: grid;
      place-items: center;
      padding-inline: 1rem;

      cursor: pointer;
    }

    .home-log-in {
      font-size: 1.2rem;
    }

    > :nth-child(2) {
      background-color: var(--clr-home-btns);
      color: var(--clr-home-txt-light);

      &:hover {
        background-color: var(--clr-home-btns-hover);
      }
    }
  }

  &:hover {
    box-shadow: 0 8px 10px -6px var(--home-header-shadow);
  }
}
