.home-page-header {
  grid-column: 1/-1;

  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(auto, 1330px) minmax(0, 1fr);
  z-index: 1;

  position: fixed;

  width: 100vw;
  height: 60px;
  background-color: var(--clr-bg-home-1);
  transition: box-shadow 0.3s ease;

  .header-content {
    grid-column: 2;

    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;

    img {
      width: 200px;
    }
  }

  nav {
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;

    height: 100%;

    letter-spacing: 1px;
    font-weight: 600;

    > * {
      display: grid;
      place-items: center;
      padding-inline: 1rem;

      cursor: pointer;
    }

    .home-log-in {
      font-size: 1.1rem;
    }

    > :nth-child(2) {
      background-color: var(--clr-home-btns);
      color: var(--clr-home-txt-light);

      &:hover {
        background-color: var(--clr-home-btns-hover);
      }
    }
  }

  &:hover {
    box-shadow: 0 8px 10px -6px var(--home-header-shadow);
  }

  &.scrolled {
    box-shadow: 0 8px 10px -6px var(--home-header-shadow);
  }
}
