.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  >ul {
    display: flex;
    gap: .3rem;
    list-style: none;

    >.bar {
      display: block;
      width: .4rem;
      height: .5rem;

      background-color: var(--clr-group-txt);
      transform-origin: top;
      animation: grow .5s infinite alternate ease-in;

      &:nth-child(2) {
        animation-delay: 100ms;
      }

      &:nth-child(1) {
        animation-delay: 200ms;
      }
    }
  }
}


@keyframes grow {

  25% {
    transform: scaleY(0.5)
  }

  50% {
    transform: scaleY(1)
  }

  75% {
    transform: scaleY(2)
  }

  100% {
    transform: scaleY(3)
  }
}