.share-overlay {
    position: absolute;
    left: 0;
    top: -50px;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 580px) minmax(20px, 1fr);
    background-color: rgba(0, 0, 0, 0.6);
}

.share-board {
    position: relative;
    grid-column: 2;
    gap: 1rem;

    height: fit-content;
    margin-block-start: 10vh;
    padding: 1.25rem 1.5rem;
    border-radius: 1rem;

    background-color: var(--clr-group-modal);
    color: var(--clr-task-txt);

    >.share-header{
        >h1 {
            font-size: 1.25rem;
            font-weight: 400;
        }

        >button{
            background-color: inherit;
        }
    }


    >h2 {
        width: fit-content;
        padding-block: .3rem;

        font-size: .875rem;
        font-weight: 500;
        color: var(--clr-create-btn);
        border-block-end: 3px solid var(--clr-create-btn);
    }

    .users-input {
        gap: .5rem;
        position: relative;

        >input {
            width: 100%;
            height: 40px;
            padding-inline: 1rem;

            background-color: var(--clr-task);
            color: inherit;
            border: 1px solid var(--clr-ah-grey--1);
            border-radius: .3rem;
        }

        >.selected-user {
            position: absolute;
            top: 9px;
            left: 15px;

            padding: .1rem .4rem;
            background-color: var(--clr-ah-grey);
            white-space: nowrap;
            border-radius: .2rem;
        }

        >button {
            width: 60px;
            height: 40px;
        }

    }

    .filtered-users {
        position: absolute;
        top: 2.7rem;
        z-index: 1;

        gap: .5rem;
        padding: .5rem;
        width: 350px;

        background-color: var(--clr-group-modal);
        box-shadow: 0px 2px 5px #1a1a1a;
        border-radius: .5rem;

        >.user-details {
            padding: .7rem .5rem;
            cursor: pointer;

            p {
                margin: 0;
            }

            &:hover {
                background-color: var(--clr-modal-btn-hover);
            }
        }
    }

    .user-details {
        h1 {
            font-size: .875rem;
        }

        img {
            width: 2rem;
            height: 2rem;
        }
    }
}