.share-overlay {
    position: absolute;
    left: 0;
    top: -50px;
    width: 100vw;
    height: 100vh;

    justify-content: center;
    grid-template-columns: minmax(20px, 1fr) minmax(auto, 580px) minmax(20px, 1fr);
    background-color: rgba(0, 0, 0, 0.6);
}

.share-board {
    position: relative;
    grid-column: 2;
    gap: 1rem;

    height: fit-content;
    margin-block-start: 10vh;
    padding: 1.25rem 1.5rem;
    border-radius: 1rem;

    background-color: var(--clr-group-modal);
    color: var(--clr-task-txt);

    input{
        width: 350px;
        background-color: inherit;
        color: inherit;
        border: 1px solid var(--clr-task-txt);
        height: 40px;
    }

    .filtered-users {
        position: absolute;
        left: 1.5rem;
        top: 7.5rem;

        padding: .2rem;
        width: 350px;
        
        background-color: var(--clr-group-modal);
        box-shadow: 0px 2px 5px #141414;
        border-radius: .5rem;
    }
}