.task-preview {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5rem;

  position: relative;

  align-items: center;
  padding: 0.65rem;
  margin-block: 0.5rem;
  max-width: 270px;

  background-color: var(--clr-task);
  border-radius: 0.5em;
  text-decoration: none;
  cursor: pointer;

  .task-labels-container {
    grid-row: 1;
    grid-column: 1/-1;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.3rem;

    .task-label {
      width: 100%;
      height: 7px;
      border-radius: 100vh;
    }
  }

  p {
    position: relative;
    left: -5px;

    margin-bottom: 0;
    transition: 0.7s ease;

    &.task-not-complete {
      left: -25px;
    }
  }

  button {
    background-color: inherit;
  }
}

.task-preview:hover {
  box-shadow: inset 0 0 0 2px white;

  .archive-btn,
  .toggle-done-btn > div {
    opacity: 1;
  }

  p {
    left: -5px;
  }
}

.toggle-done-btn {
  > img {
    width: 1rem;
  }

  > div {
    opacity: 0;
    width: 0.9rem;
    height: 0.9rem;

    border-radius: 50%;
    border: 2px solid var(--clr-task-txt);
    transition: 0.7s;
  }
}

.archive-btn {
  position: absolute;
  top: 5px;
  right: 5px;

  opacity: 0;
  border-radius: 50%;

  > img {
    width: 1em;
  }
}
