.task-preview {

    align-items: center;
    padding: .8em 1em;
    margin-block: .6em;
    max-width: 270px;

    background-color: var(--clr-task);

    border-radius: .7em;
    text-decoration: none;
    cursor: pointer;
    
    >p{
        margin: 0;
    }
}