.task-preview {
    position: relative;

    align-items: center;
    padding: .8em .5em;
    margin-block: .6em;
    max-width: 270px;

    background-color: var(--clr-task);

    border-radius: .7em;
    text-decoration: none;
    cursor: pointer;

    >p {
        margin: 0;
    }

    button {
        background-color: inherit
    }
}

.task-preview:hover {
    border: 2px solid white;

    >.toggle-done-btn {
        >div {
            opacity: 1;
        }
    }

    >.archive-btn {
        opacity: 1;
    }
}

.toggle-done-btn {
    >img {
        width: 1rem;
    }

    >div {
        opacity: 0;
        width: .9rem;
        height: .9rem;
        margin-inline: .2em;

        border-radius: 50%;
        border: 2px solid var(--clr-task-txt);
        transition: .3s;
    }
}

.archive-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    
    opacity: 0;
    border-radius: 50%;

    >img {
        width: 1em;
    }


}