.task-preview {
  --border-radius: 0.5rem;
  display: grid;
  justify-self: center;

  position: relative;
  z-index: 2;

  align-items: center;
  margin-block: 0.3rem;
  width: 100%;

  background-color: var(--clr-task);
  border-radius: var(--border-radius);
  text-decoration: none;
  cursor: pointer;

  .task-color-bg {
    width: 100%;
    height: 40px;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  .task-attachment {
    grid-column: 1/-1;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  .task-all-details {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;

    padding: 0.7rem;
    width: 100%;

    .task-title {
      overflow-wrap: anywhere;
    }

    .task-labels-container {
      grid-column: 1/-1;

      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 0.3rem;

      .task-label {
        width: 100%;
        height: 7px;
        border-radius: 100vh;
      }
    }

    .task-details-container {
      grid-column: 1/-1;

      display: flex;
      gap: 0.5rem;
      align-items: center;
      flex-wrap: wrap;

      img {
        width: 17px;
      }

      .task-dates {
        min-width: 4.375rem;
      }

      .task-checklists,
      .task-dates,
      .task-comments,
      .task-attackments {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;

        p {
          font-size: 0.8rem;
        }

        &.late-red,
        &.soon-yellow,
        &.done-green {
          padding-block: 0.2rem;
          border-radius: 5px;

          color: var(--clr-txt-dark);
        }

        &.late-red {
          background-color: var(--clr-task-late);
          color: var(--clr-txt-light);
        }

        &.soon-yellow {
          background-color: var(--clr-task-soon);
        }

        &.done-green {
          background-color: var(--clr-task-done);
        }
      }

      .task-user-container {
        grid-row: 2;

        display: flex;
        gap: 0.3rem;

        margin-left: auto;

        .task-user {
          width: 25px;
          height: 25px;
          border-radius: 50%;

          /* demo, will be deleted */
          background-color: rgb(172, 106, 36);
          color: var(--clr-txt-dark);
          display: grid;
          place-items: center;
          /* end demo */
        }
      }
    }
  }

  p {
    position: relative;
    left: -5px;

    margin-bottom: 0;
    transition: 0.7s ease;

    &.task-not-complete {
      left: -26px;
    }
  }

  button {
    background-color: inherit;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: var(--border-radius);
    pointer-events: none;

    border: 3px solid white;
    opacity: 0;
  }

  &:hover {
    &::after {
      opacity: 1;
    }

    .archive-btn,
    .toggle-done-btn > div {
      opacity: 1;
    }

    p {
      left: -5px;
    }
  }
}

.toggle-done-btn {
  padding-inline-start: 0;
  > img {
    width: 1rem;
  }

  > div {
    opacity: 0;
    width: 0.9rem;
    height: 0.9rem;

    border-radius: 50%;
    border: 2px solid var(--clr-task-txt);
    transition: 0.7s;
  }
}

.archive-btn {
  position: absolute;
  top: 5px;
  right: 5px;

  opacity: 0;
  border-radius: 50%;

  > img {
    width: 1em;
  }
}
