.task-preview {
    padding: .8em;
    margin-block: .6em;

    background-color: white;
    box-shadow: 0px 1px 2px 0px #a6a6a6;

    border-radius: .857em;
    text-decoration: none;
    cursor: pointer;
}