.user-msg {
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 1005;

  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr;
  align-items: center;
  gap: 1rem;

  border-radius: 5px;
  box-shadow: 0 4px 10px var(--add-board-shadow);
  padding-inline: 1rem;
  padding-block: 1rem;

  background-color: var(--clr-ah-grey-2);

  opacity: 0;
  translate: -150%;
  transition: 600ms;

  .user-msg-icon {
    justify-self: center;
  }

  .user-msg-close {
    width: 18px;
    margin-left: auto;
    cursor: pointer;
  }

  button {
    grid-column: 2;
    justify-self: start;
    padding: 0.6rem;
    border-radius: 5px;
    background-color: var(--clr-ah-grey-1);
    color: var(--clr-txt-light);

    &:hover {
      background-color: var(--clr-ah-grey);
    }
  }
}

.user-msg.visible {
  opacity: 1;
  translate: 0;
}

/* .user-msg.success {
  background-color: rgb(41, 189, 73);
}
.user-msg.error {
  background-color: rgb(216, 59, 59);
} */
