.user-msg {
  position: fixed;
  top: 60px;
  right: 0.2em;
  z-index: 1005;

  display: flex;
  align-items: center;

  padding: 0.2em;
  padding-inline-end: 20px;
  background-color: grey;

  color: white;
  font-size: 0.9em;

  opacity: 0;
  translate: 150%;
  transition: 600ms;
}

.user-msg.visible {
  opacity: 1;
  translate: 0;
}

.user-msg button {
  background-color: red;
  padding: 1px 6px;
  border: 0;
  border-radius: 50%;
  color: red;
}

.user-msg.success {
  background-color: rgb(41, 189, 73);
}
.user-msg.error {
  background-color: rgb(216, 59, 59);
}
