*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* color-scheme: light dark; */
  font-family: 'AtlassianSans', sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--clr-bg-dark);
  color: var(--clr-txt-light);
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-wrap: balance;
}

p {
  margin: 0 0 1em;
  text-wrap: pretty;
}

img,
video,
canvas,
svg,
picture {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  max-width: 100%;
  font-family: inherit;
}

input {
  &:focus {
    outline: 2px solid var(--clr-create-btn);
  }
}

button {
  border: none;
  cursor: pointer;
}

.btn {
  display: grid;
  align-items: center;

  border: none;
  border-radius: 3px;
  height: 33px;
  padding-inline: 0.5rem;

  font-size: 0.9rem;
  background-color: var(--clr-create-btn);
  color: var(--clr-txt-dark);
  cursor: pointer;

  &:hover {
    background-color: var(--clr-create-btn-hover);
  }
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-scroll);
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--clr-scroll-hover);
}
