*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /* color-scheme: light dark; */
  font-family: 'AtlassianSans', sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--clr-bg-dark);
  color: var(--clr-txt-light);
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-wrap: balance;
}

p {
  margin: 0 0 1em;
  text-wrap: pretty;
}

img,
video,
canvas,
svg,
picture {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

input,
button,
textarea,
select {
  max-width: 100%;
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

.btn {
}

.btn:hover {
}

.title-input {
  field-sizing: content;
  padding: 0.5rem 1rem;

  border: none;
  border-radius: 0.3rem;

  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;

  &:focus {
    background-color: white;
    cursor: text;
    color: black;
  }
}
