.main-layout {
  display: grid;
  grid-template-rows: auto 1fr;
}

.home-page-layout {
  display: grid;
  /* grid-template-columns: minmax(0px, 310px) minmax(auto, 1600px) minmax(
      0px,
      310px
    ); */
  grid-template-rows: minmax(60px, auto) 1fr;

  /* height: 100vh; */

  font-family: 'charlie', sans-serif;

  background-color: var(--clr-bg-light);
  color: var(--clr-txt-dark);
}
