.main-layout {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.home-page-layout {
  display: grid;
  grid-template-columns: 100%;

  font-family: 'charlie', sans-serif;

  background-color: var(--clr-bg-light);
  color: var(--clr-txt-dark);
}

.board-details-layout {
  display: flex;
  padding: 0.75rem;
}
