.main-layout {
  display: grid;
  grid-template-rows: auto 1fr;

  width: 100vw;
  height: 100vh;
}

.home-page-layout {
  display: grid;
  grid-template-columns: minmax(0px, 150fr) minmax(auto, 1000px) minmax(
      0px,
      150fr
    );
  grid-template-rows: minmax(65px, auto) 1fr;

  height: 100vh;

  font-family: 'charlie', sans-serif;

  background-color: var(--clr-bg-light);
  color: var(--clr-txt-dark);
}
