@media (min-width: 500px){
  .board-header {
    .header-star {
      display: grid;
      place-content: center;
    }

    .share-btn {
      display: grid;
      place-content: center end;
    }
  }
}

@media (max-width: 1000px) {
  .board-list {
    width: 700px;

    .star-boards,
    .not-star-boards,
    .recently-viewed-boards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 980px) {
  .app-header {
    form {
      input {
        width: 70vw;
      }
    }
  }
}

@media (max-width: 750px) {
  .board-list {
    width: 450px;

    .star-boards,
    .not-star-boards,
    .recently-viewed-boards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .task-preview {
    p {
      &.task-not-complete {
        left: -5px;
      }
    }
  }

  .toggle-done-btn {
    >div {
      opacity: 1;
    }
  }

  .archive-btn {
    opacity: 1;
  }
}

@media (max-width: 620px) {
  .app-header {
    form {
      input {
        width: 60vw;
      }
    }
  }
}

@media (max-width: 500px) {

  .board-list {
    width: 210px;

    .star-boards,
    .not-star-boards,
    .recently-viewed-boards {
      grid-template-columns: 1fr;
    }
  }

  .board-header {

    .share-btn,
    .header-star {
      display: none;
    }
  }
}

@media (max-width: 450px) {
  .app-header {
    form {
      input {
        width: 50vw;
      }
    }
  }
}