:root {
  --clr-bg-dark: #1f1f21;
  --clr-txt-light: #cecfd2;

  /* AppHeader */
  --clr-ah-grey-1: #7e8188;
  --clr-ah-grey: #434345;
  --clr-create-btn: #669df1;
  --clr-create-btn-hover: #8fb8f6;

  /* Group */
  --clr-group: #f1f2f4;
  --clr-group-txt: rgb(41, 42, 46)4;

  /* Task */
  --clr-task-txt: rgb(80, 82, 88);
}