:root {
  --clr-bg-dark: #1f1f21;
  --clr-bg-light: #ffffff;
  --clr-txt-light: #cecfd2;
  --clr-txt-dark: #0d0d0d;

  /* AppHeader */
  --clr-ah-grey--1: #7e8188;
  --clr-ah-grey: #434345;
  --clr-ah-grey-1: #37373a;
  --clr-ah-grey-2: #2c2c2e;

  --clr-create-btn: #669df1;
  --clr-create-btn-hover: #8fb8f6;
  --clr-board-shadow: #111213;

  /* HomePage */
  --clr-home-btns: #0065ff;
  --clr-home-btns-hover: #0747a6;
  --clr-home-txt-light: #ffffff;
  --home-header-shadow: rgba(0, 0, 0, 0.278);
  --clr-second-home-header: #deebff;
  --clr-bg-home-2: #f4f5f7;
  --clt-home-input-border: #e0e2e7;

  /* Board */
  --clr-star-bg: rgba(0, 0, 0, 0.239);
  --clr-default-board: #0079bf;
  --add-board-shadow: rgba(0, 0, 0, 0.619);
  --clr-input-add-board: #99c6ff;
  --clr-input-add-board-hover: #df574d;
  --gap: 0.8em;
  --clr-close-board: #f87168;
  --clr-close-board-hover: #fd9891;

  /* Group */
  --clr-group: rgb(16, 18, 4);
  --clr-group-txt: rgb(169, 171, 175);
  --clr-group-modal: rgb(43, 44, 47);

  /* Task */
  --clr-task: rgb(36, 37, 40);
  --clr-task-txt: rgb(206, 207, 210);
  --clr-bg-task-input: #242528;
  --clr-task-txt-dark: #a9abaf;
  --clr-task-late: #f87168;
  --clr-task-soon: #fbc828;
  --clr-task-done: #94c748;

  /* Footer */
  --clr-footer-bg: #172b4d;
}
