:root {
  --clr-bg-dark: #1f1f21;
  --clr-txt-light: #cecfd2;

  /* AppHeader */
  --clr-ah-grey-1: #7e8188;
  --clr-ah-grey: #434345;
  --clr-create-btn: #669df1;
  --clr-create-btn-hover: #8fb8f6;

  /* Group */
  --clr-group: rgb(16, 18, 4);
  --clr-group-txt: rgb(206, 207, 210);

  /* Task */
  --clr-task: rgb(36, 37, 40);
  --clr-task-txt: rgb(206, 207, 210);
}