/* Setup */
@import 'setup/variables.css';
@import 'setup/typography.css';

/* Basics */
@import 'basics/helpers.css';
@import 'basics/layout.css';
@import 'basics/base.css';

/* pages */
@import 'pages/HomePage.css';
@import 'pages/BoardIndex.css';
@import 'pages/BoardDetails.css';

/* Components */

/* App */
@import 'cmps/AppHeader.css';
@import 'cmps/AppFooter.css';
@import 'cmps/UserMsg.css';

/* Home */
@import 'cmps/HomePageHeader.css';

/* Board */
@import 'cmps/BoardHeader.css';
@import 'cmps/BoardList.css';
@import 'cmps/BoardPreview.css';
@import 'cmps/AddBoard.css';
@import 'cmps/BoardSettings.css';

/* Group */
@import 'cmps/GroupList.css';
@import 'cmps/GroupPreview.css';
@import 'cmps/GroupActions.css';

/* task */
@import 'cmps/TaskList.css';
@import 'cmps/TaskPreview.css';
@import 'cmps/TaskDetails.css';
@import 'cmps/BackgroundContainer.css';
